*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
ul{
    display: flex;
    justify-content: left;
    align-items: flex-start;
    /* border-bottom: 1px solid #000; */
}
ul a{
    display: flex;
    text-transform: uppercase;
    color: #000;
    border-bottom: 3px solid #fff;
    padding: 20px;  
    transition: border-bottom 0.1s ease;
}
ul a:hover{
    border-bottom: 3px solid black;
}
.image {
    height: auto;
    width: 100%;
    margin-top: 1px;
    object-fit: cover;
}
.newbox{
    margin: 10px;
    padding: 10px;
    height: auto;
    width: fit-content;
    background-color: #000;
    text-transform: uppercase;
    color: #fff;
    border: 3px solid black;
}
main{
    margin: 0 auto;
    width: 70%;
}
.again{
    display: flex;
    justify-content: space-between;
}
.box1{
    /* background-color: blue; */
    height: 100%;
    width: 66%;
}
.new{
    display: flex;
    width: 100%;
    /* height: ; */
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid black;
}
.box2{
    /* background-color: brown; */
    height: 100%;
    width: 24%;
    margin: 40px 0px;
}
main img{
    width: 100%;
}
.content{
    margin-bottom: 25px;
}
.new2{
    display: flex;
    padding: 20px 0px;
    border-bottom: 1px  solid black;
}
.new2 img{
    height: 140px;
    width: 25%;
    object-fit: cover;
}
.nobottom{
    border-bottom: none;
}
a{
    color: #000;
}


@media (max-width: 1024px) {
    main{
        margin: 0 auto;
        width: 80%;
    }
    .again{
        flex-direction: column;
    }
    .box1 {
        width: 100%;
    }
    .box2{
        width: 100%;
    }
}

@media (max-width: 786px) {
    main{
        margin: 0 auto;
        width: 90%;
    }
    .again{
        flex-direction: column;
    }
    .box1 {
        width: 100%;
    }
    .box2{
        width: 100%;
    }
}
h1,p,h2,h3{
    margin: 16px 0px;
}

.content a{
    text-decoration: underline;
}
.h3{
    font-weight: bold;
}
.image img{
    width: 100%;
}
.new i{
    font-size: 18px;
}
ul a{
    font-size: 14px;
}